.Card {
    // max-height: 250px;
    // max-width: 250px;
    height: 200px;
    width: 240px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
    border: solid 2px rgb(90, 14, 243);
    backface-visibility: hidden;
    background-color: rgb(243, 199, 199);
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
  }